.navbar{ 
    max-height: 60px;
}
@media screen and (max-width: 1000px) {
    .navbar,.contianer-fluid.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
        background-color: #ffffff;
    }
}
.nav-link , .navbar-brand{ color: #3a5250; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{background-color: rgba(27, 28, 27, 0.067); color: #31aab8 }
.navbar-toggler{  background:#fff !important;}
.nav-link{ 
    color:black;
    font-size: 19px;
    font-weight:bold;
    font-family: 'lato';
} 
.jumbotron.jumbotron-fluid.hero_image{
    color: white; 
    background-image: url('https://images.unsplash.com/photo-1483470134942-13bbf4677d84?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-size: cover;
    height: 100vh
}
/*--------------[ about ]--------------------*/
  .about{
    margin-top:90px;
    text-align:center;
  }
  .about::after{
    font: bold 32px Poppins;
    text-align: center;
    content:"ABOUT";
    border-bottom: 5px solid #31aab8;
  }
  /*--------------[ testimonials ]--------------------*/
  .testimonials::after{
    font: bold 32px Poppins;
    text-align: center;
    content:"TESTIMONIALS";
    border-bottom: 5px solid #31aab8;
  }
  
  .card-img-top{
      height:10rem;
      width:10rem;
      border-radius: 100%;  
      margin-left: auto;
      margin-right: auto;

  }
  #contact{
    padding:100px;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
/*--------------[ footer ]--------------------*/
#footer{
  position: absolute;
  bottom: 100;
  background-color: #495057;
}
.footer_font{
color:#ffffff;
text-align: center;
}
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 2rem;
  width: 2rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1rem;
}
.social-icon:hover {
  background-color:#31aab8;
  color:#fafafa;
  border-color:#31aab8;
}
.footer_copyrights{
  color:#e7eced; 
  text-align:center; 
  font-size:small;
}
.footer_copyrights > a{
  color:#24C6DC;
}

  